---
layout: home
title: Home
---

      <div class="grid"><!--
         --><div class="grid__item xs--1-1 s--1-10 m--1-10 l--1-10 xl--1-10">
            <h3 class="">XS</h3>
          </div><!--
         --><div class="grid__item xs--1-10 s--1-1 m--1-10 l--1-10 xl--1-10">
            <h3 class="">S</h3>
          </div><!--
         --><div class="grid__item xs--1-10 s--1-10 m--1-1 l--1-10 xl--1-10">
            <h3 class="">M</h3>
          </div><!--
         --><div class="grid__item xs--1-10 s--1-10 m--1-10 l--1-1 xl--1-10">
            <h3 class="">L</h3>
          </div><!--
         --><div class="grid__item xs--1-10 s--1-10 m--1-10 l--1-10 xl--1-1">
            <h3 class="">XL</h3>
          </div><!--
        --></div>
<h2 class="section__title">Pu Enil Eht</h2>

<div class="lineup">
  <div class="lineup__head container">
    <div class="lineup__head__wrap">
      <div class="grid"><!--

     --><div class="grid__item xs--8-12 s--9-12 m--6-12 l--4-12 xl--5-12 lineup__title"><h5>Eltit Mlif</h5></div><!--
     --><div class="grid__item xs--4-12 s--3-12 m--2-12 l--2-12 xl--1-12 lineup__date"><h5><span class="lineup__date--release">Esaeler</span> Etad</h5></div><!--
     --><div class="grid__item xs--1-1 s--6-12 m--4-12 l--2-12 lineup__comic"><h5>Oc Cimoc</h5></div><!--
     --><div class="grid__item xs--1-1 s--6-12 m--6-12 l--2-12 lineup__universe"><h5>Esrevinu</h5></div><!--
     --><div class="grid__item xs--3-12 s--6-12 m--2-12 l--1-12 lineup__vids"><h5>Soediv</h5></div><!--
     --><div class="grid__item xs--3-12 s--6-12 m--2-12 l--1-12 lineup__news"><h5>Swen</h5></div>
      </div>
    </div>

  </div>


{% include film_dceu.html %}

{% include film_dceu.html %}

{% include film_dceu.html %}

{% include film_dceu.html %}


</div>
