  <div class="lineup__row film">
    <div class="container">
      <div class="inner">
        <div class="grid"><!--
         --><div class="grid__item xs--1-1 l--1-3 film__title">
            <h3 class="film__info__val">
              <a class="flim__link" href="#">Captain America: Civil War</a>
            </h3>
          </div><!--
          --><div class="grid__item xs--1-1 s--1-2 l--1-6 film__date">
            <h4 class="film__info__label">Release Date: </h4>
            <p class="film__info__val">10/04/17</p>
          </div><!--
          --><div class="grid__item xs--1-1 s--1-2 l--1-6 film__comic">
            <h4 class="film__info__label">Comic Co:</h4>
            <p class="film__info__val">
              <a class="film__link" href="#">DC Comics</a>
            </p>
          </div><!--
          --><div class="grid__item xs--1-1 s--1-2 l--1-6 film__universe">
            <h4 class="film__info__label">Universe:</h4>
            <p class="film__info__val">
              <a class="film__link" href="#">DCCW</a>
            </p>
          </div><!--
          --><div class="grid__item xs--1-1 s--1-2 l--1-6 film__videos">
            <h4 class="film__info__label">Videos:</h4>
            <!-- <ul class="film__info__val film__videos--list">
              <li class="film__vid">
                <a class="film__vid__link modal-link" href="#vid1">
                  <span class="film__vid__num">1</span>
                </a>
              </li>
            </ul> -->
          </div><!--
        --> </div> <!-- /.grid -->

      </div> <!-- /.inner -->
    </div> <!-- /.container -->
  </div> <!-- /.lineup__row film -->
