  <div class="lineup__row film">
    <div class="container">
      <div class="inner">
        <div class="grid"><!--
         --><div class="grid__item xs--8-12 s--9-12 m--6-12 l--4-12 xl--5-12 film__title">
            <h3 class="film__info__val">
              <a class="flim__link" href="#">Curabitur non nulla: sit amet nisl tempus</a>
            </h3>
          </div><!--
          --><div class="grid__item xs--4-12 s--3-12 m--2-12 l--2-12 xl--1-12 film__date">
            <p class="film__info__label">Etad Esaeler: </p>
            <p class="film__info__val">06/02/16</p>
          </div><!--
          --><div class="grid__item xs--1-1 s--6-12 m--4-12 l--2-12 film__comic">
            <p class="film__info__label">Oc Cimoc: </p>
            <p class="film__info__val">
              <a class="film__link" href="#">Levram Scimoc </a>
            </p>
          </div><!--
          --><div class="grid__item xs--1-1 s--6-12 m--6-12 l--2-12  film__universe">
            <p class="film__info__label">Esrevinu:</p>
            <p class="film__info__val">
              <a class="film__link" href="#">S00-09 Detamina Cd</a>
            </p>
          </div><!--
          --><div class="grid__item xs--6-12 s--6-12 m--3-12 l--1-12 film__vids">
              <p class="film__info__label film__info__label--vids"><a class="film__vids-link" href="#">Soediv<span class="icon icon-vid"><img src="/img/icon-video.svg"></span></a></p>
            </div><!--
          --><div class="grid__item xs--6-12 s--6-12 m--3-12 l--1-12 film__news">
              <p class="film__info__label film__info__label-news"><a class="film__news-link" href="#">Swen<span class="icon icon-news"><img src="/img/icon-news.svg"></span></a></p>
            </div><!--
        --></div> <!-- /.grid -->
      </div> <!-- /.inner -->
    </div> <!-- /.container -->
    <div class="film__vids__block vids">
      <div class="container">
        <div class="inner">
          <div class="grid"><!--
           --><div class="grid__item xs--12-12 m--6-12 vids__vid">
              <div class="multimedia">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/eMJk4y9NGvE" frameborder="0" allowfullscreen></iframe>
              </div>
            </div><!--
           --><div class="grid__item xs--12-12 m--6-12 vids__list">
              <ul>
                <li class="current"><a href="#">Another Video to Watch</a></li>
                <li><a href="#">This is a Video</a></li>
                <li><a href="#">What is this all about?</a></li>
                <li><a href="#">Are you even paying attention!?!?!</a></li>
              </ul>
            </div><!--
          --></div><!-- /.grid -->
        </div> <!-- /.inner -->
      </div> <!-- /.container -->
    </div> <!-- /.film__vids__block -->
    <div class="film__news__block news">
      <div class="container">
        <div class="inner">
          <div class="grid"><!--
           --><div class="grid__item xs--12-12 m--6-12 news__post">
              <h4 class="news__post__title">
                <a href="">This is a crazy important movie update!!</a>
              </h4>
            </div><!--
           --><div class="grid__item xs--12-12 m--6-12 news__post">
              <h4 class="news__post__title">
                <a href="">Characters confirmed and the director is fired...</a>
              </h4>
            </div><!--
          --></div><!-- /.grid -->
        </div> <!-- /.inner -->
      </div> <!-- /.container -->
    </div> <!-- /.film__news__block -->
  </div> <!-- /.container -->
</div> <!-- /.lineup__row film -->
