    <!-- Site's Main Footer-->
    <footer class="site-footer" role="contentinfo">
      <div class="container">

        <nav class="site-footer__nav">
          <ul class="site-footer__nav-list" role="navigation">
            <li class="site-footer__nav-item linkedin"><a href="http://linkedin.com/in/justinaven">LinkedIn</a></li>
            <li class="site-footer__nav-item codepen">
              <a href="http://codepen.io/justinaven">Codepen</a>
            </li>
            <li class="site-footer__nav-item twitter">
              <a href="http://twitter.com/justinaven">Twitter</a>
            </li>
            <li class="site-footer__nav-item instagram">
              <a href="http://instagram.com/javen/">Instagram</a>
            </li>
          </ul>
        </nav>

      </div>
    </footer>

    <!-- Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <script src="{{ baseurl }}vendor/zepto.min.js"></script>
    <script src="{{ baseurl }}js/global.min.js"></script>
    {% if page.javascript %}<script src="{{ baseurl }}js/{{ page.javascript }}"></script>{% endif %}
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-23885320-1', 'auto');
      ga('send', 'pageview');
    </script>

</body>
</html>
