//
//   @home
// ---------------------------------------------------------
//  _5_pages/_home.scss
// ---------------------------------------------------------
//
//  Home page specific styles.
//
// ---------------------------------------------------------
$transition: .2s ease-in-out;


.section {
  padding: spacing('xl') 0;
  &__title {
    margin-bottom: spacing('l');
    text-align: center;
  }
}

img {max-width: 100%;}

.inner {
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
}

.lineup {
  h5 {
    font-weight: bold;
  }

  &__row {
    position: relative;
    z-index: 1;
    transition: z-index 0s .35s linear;
  }
  &__head {
    font-weight: bold;
    padding-bottom: spacing('m');
  }

  &__date--release,
  &__comic,
  &__universe,
  &__vids,
  &__news {
    display: none;
  }

  &__date {
    text-align: right;
  }
  // display:block media queries are below .film block

}

// FILM/SHOW
.film {
  .inner {
    border-top: 1px solid color('gray','light');
  }

  .inner {padding: spacing('m') 0;}

  // a {
  //   &:hover {
  //     color: color('sky');
  //     text-decoration: none;
  //   }
  // }

  // FILM/SHOW TITLE
  &__title {
    h3 {
      font-size: 100%;
      font-weight: bold;
    }
  }
  &__info {
    &__label {
      color: color('gray','base');
      display:inline-block;
      font-weight: bold;
      font-size: 80%;
    }
    &__val {
      display:inline-block;
      font-size: 80%;
    }
  }
  &__date {
    text-align: right;
    .film__info__label {display: none;}
    .film__info__val {
      font-size: 100%;
    }
  }
  &__vids__block,
  &__news__block {
    background-color: #444;
    overflow: hidden;
    max-height: 755px;
    transition: max-height 3s linear;
    &.closed {
      max-height: 0;
    }
  }

  &__vids-link,
  &__news-link {
    display: block;
    position: relative;

    &.on:after {
      border-top: 0 solid color('sky');
      border-right: 5px solid transparent;
      border-left: 5px solid transparent;
      border-bottom: 7px solid color('sky');
      content: '';
      display: block;
      height: 0;
      position: absolute;
      right: -14px;
      top: 7px;
      width: 0;
      transition: border-bottom $transition, border-top $transition;
    }

    &.on.closed:after {
      border-top: 7px solid color('sky');
      border-bottom: 0 solid color('sky');
    }
    .icon {
      margin-left: 8px;
      display: inline-block;

      &:before {
        background: transparent url(/img/icon-video.svg) no-repeat 0 0;
        background-size: contain;
        content: '';
        display: inline-block;
        height: 16px;
        position: relative;
        top: 2px;
        width: 20px;
      }
      &-news:before {
        background-image: url(/img/icon-news.svg);
        width: 18px;
      }


      img {
        display: inline-block;
        max-height: 16px;
        width: auto;
      }
    }

  }
}


@include media('screen and (min-width: #{breakpoint("m")})', false) {
  .lineup {
    &__comic {
      display: inline-block;
    }
    &__date {
      text-align: left;
    }
  }

  .film {
  &__date {
    text-align: left;
  }
    &__comic {
      .film__info {
        &__label {
          display: none;
        }
        &__val {
          font-size: 100%;
        }
      }
    }
  }

  .vids {
    &__vid {
      .multimedia {
        margin-bottom: 0;
      }
    }
    &__list {

    }
  }

}

@include media('screen and (min-width: #{breakpoint("l")})', false) {
  .lineup {
    &__universe,
    &__vids,
    &__news {
      display: inline-block;
    }
    &__vids,
    &__news {
      text-align: center;
    }

  }

  .film {
    &__universe {
      .film__info {
        &__label {
          display: none;
        }
        &__val {
          font-size: 100%;
        }
      }
    }
    &__news,
    &__vids {
      text-align: center;
      .film__info {
        &__label {
          font-size: 100%;
          font-weight: normal;
        }
      }
    }

    &__vids-link,
    &__news-link {
      display: block;
      height: 20px;
      position: relative;
      width: 25px;
      text-indent: -9999px;
      &.on:after {
        right: -14px;
        top: 8px;
        width: 0;
      }

      .icon {
        display: block;
        margin-left: 0;
        position: absolute;
        text-indent: 0;
        text-align: center;
        top: 0;
        width: 100%;
        &:before {
          background: transparent url(/img/icon-video.svg) no-repeat 0 0;
          background-size: contain;
          content: '';
          display: inline-block;
          height: 20px;
          position: relative;
          top: 2px;
          width: 25px;
        }
        &-news:before {
          background-image: url(/img/icon-news.svg);
          width: 20px;
        }
      }
    }

  }
}

